# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: us-cdbr-iron-east-05.cleardb.net
    database_port: 3306
    database_name: heroku_09f9904d3c45a3a
    database_user: baaca0684ef6f8
    database_password: 75bd9168
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: e3bfed4a1448688dbce5c7eabf28dec2bda3bc26

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
